<div class="import-collection-modal">
  <h1 mat-dialog-title>{{'Collections.Import Collection'|translate}}</h1>
  <form class="form-field-full" [formGroup]="importForm">
    <mat-dialog-content>
      <flash-messages></flash-messages>
      <!-- Collection name input -->
      <mat-form-field appearance="outline">
        <mat-label>{{'Collections.CollectionName' | translate}}</mat-label>
        <input matInput type="text" formControlName="collectionName"
          placeholder="{{'Collections.Enter a new Collection name' | translate}}" required
          minlength="4" [pattern]="collectionNamePattern">
        @if (importForm.get('collectionName').hasError('required')) {
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        }
        @if (importForm.get('collectionName').hasError('pattern')) {
          <mat-error>
            {{'validations.pattern' | translate}}
          </mat-error>
        }
        @if (importForm.get('collectionName').hasError('minlength')) {
          <mat-error translate [translateParams]="{number:'4'}"
            >
            validations.minlength
          </mat-error>
        }
      </mat-form-field>
      <!-- File selector -->
      <div class="file-list">
        <label>{{'Collections.Files to Import'|translate}}:</label>
        <div class="file-list-component">
          <div class="file-list-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{'Filename'|translate}}</th>
                  <th></th>
                </tr>
              </thead>
              @if (userFiles.length!=undefined && userFiles.length>0) {
                <tbody>
                  @for (file of userFiles; track file; let index = $index) {
                    <tr>
                      <td>{{index+1}}</td>
                      <td>{{file.name}}</td>
                      <td>
                        <button mat-icon-button (click)="userFiles.splice(index, 1)" [matTooltip]="'Remove'|translate">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              }
            </table>
          </div>
          <div class="table-responsive">
            <uploader [flowAttributes]="flowAttributes" [allowedTypes]="allowedTypes"
            (handleFileInputs)="handleFileInputs($event)"></uploader>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="cancel()">{{'Cancel'|translate}}</button>
      <button mat-button [disabled]="userFiles.length !=1 || importForm.invalid"
      (click)="import()">{{'Import'|translate}}</button>
    </mat-dialog-actions>
  </form>
</div>
