<page-header></page-header>
<div class="manage-collections-wrapper">
  <as-split direction="horizontal">
    <as-split-area [size]="30" [minSize]="10" [maxSize]="60" class="side-bar-wrapper">
      <mat-card class="mat-card-fill-parent">
        <mat-card-header class="sidebar-header">
          <mat-card-title>{{'Collections.MyCollections'|translate}} ({{dataForTheTree.length}})</mat-card-title>
          <div fxFlex></div>
          <button mat-icon-button color="primary" [routerLink]="['/app/collections/add']"
            [matTooltip]="'Collections.AddNewCollection'|translate">
            <mat-icon>create_new_folder</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="importDocuments()"
            [matTooltip]="'Collections.Import'|translate">
            <mat-icon>cloud_upload</mat-icon>
          </button>
	  <!--<button mat-icon-button color="primary" (click)="importDocuments()"
            [matTooltip]="'Collections.DeleteSelectedCollection'|translate">
            <mat-icon>delete_forever</mat-icon>
	  </button>-->
        </mat-card-header>
        <mat-card-content class="sidebar-main-content">
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let collection of dataForTheTree;let index=index" [value]="collection">
              <div class="center-vertically">
                <mat-icon>folder</mat-icon> {{collection.name}} <div fxFlex></div>
		<mat-icon *ngIf="collection.confirmed==1 && collection.is_owner">folder_shared</mat-icon>
		<mat-icon *ngIf="!(collection.confirmed==1 && collection.is_owner)"><!--toggle_off--></mat-icon>
		<mat-icon *ngIf="collection.confirmed==1 && !collection.is_owner">folder_shared</mat-icon>
		<mat-icon *ngIf="!(collection.confirmed==1 && !collection.is_owner)"><!--toggle_off--></mat-icon>
                <button mat-icon-button (click)="deleteCollection(selectedCollection.id)"
                  *ngIf="collection.is_owner" [matTooltip]="'Collections.Delete Collection'|translate">
                  <mat-icon>delete_forever</mat-icon></button>
              </div>
            </mat-list-option>
          </mat-selection-list>
          <mat-action-list>
            <button mat-list-item class="cursor" *ngFor="let collection of dataForTheTree;let index=index"
              (click)="showSelectedCollection(collection, index)"
              [ngClass]="{selectedCollection: index==selectedCollectionIndex}">
              <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon> {{collection.name}} <span class="right">
                <span *ngIf="collection.confirmed==1 && collection.is_owner"
                  class="label label-info">{{'Collections.SharedByMe'|translate}}</span>
                <span *ngIf="collection.confirmed==1 && !collection.is_owner" class="label label-info"
                  title="The actions that can be performed on this collection are limited because it does not belong to you">{{'Collections.SharedWithMe'|translate}}</span>
                ({{collection.document_count}} {{'Collections.Documents'|translate}})
              </span>
            </button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </as-split-area>
    <as-split-area [size]="70" [minSize]="40" [maxSize]="90" class="main-content-wrapper">
      <mat-card class="mat-card-fill-parent">
        <mat-card-header *ngIf="showStaticHeader==true">
          <mat-card-title>Manage Collections</mat-card-title>
          <div fxFlex></div>
          <button mat-stroked-button color="primary" (click)="importDocuments()">
            <mat-icon>cloud_upload</mat-icon> Import
          </button>
        </mat-card-header>
        <!--download="{{selectedCollection.name}}_export.json"-->
        <mat-card-header *ngIf="showStaticHeader!=true">
          <mat-card-title>Collection: <i>{{selectedCollection.name}}</i></mat-card-title>
          <div fxFlex></div>

          <mat-card-actions align="end" *ngIf="btnShow">
            <button type="button" class="btn btn-xs btn-success" (click)="addDocuments()"
              *ngIf="selectedCollection.is_owner">
              <mat-icon>add_circle_outline</mat-icon> Add
            </button>
            <button type="button" class="btn btn-xs btn-primary" (click)="shareCollection()"
              *ngIf="selectedCollection.is_owner">
              <mat-icon>folder_shared</mat-icon> Share
            </button>
            <a [href]="'./api/collections/'+selectedCollection.id+'/export'" target="_blank"
              class="btn btn-xs btn-primary">
              <mat-icon>cloud_download</mat-icon> Export
            </a>
            <button type="button" class="btn btn-xs btn-primary" (click)="renameCollection()"
              *ngIf="selectedCollection.is_owner"><i class="fa fa-pencil-square-o"></i>
              Rename</button>
            <button type="button" class="btn btn-xs btn-danger" (click)="deleteCollection(selectedCollection.id)"
              *ngIf="selectedCollection.is_owner">
              <mat-icon>delete_forever</mat-icon> Delete Collection
            </button>
          </mat-card-actions>
          <mat-card-actions align="end" *ngIf="!btnShow">
            <button type="button" class="btn btn-xs btn-danger" (click)="deleteDocuments()"><i
                class="fa fa-trash-o fa-lg"></i> Delete Document(s)</button>
          </mat-card-actions>
        </mat-card-header>
        <mat-card-content class="main-content">
          <div class="text-center no-available-documents" *ngIf="collectionDocuments.length==0">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            &#09;Please select a collection from the list on the left...
          </div>
          <table st-table="collectionDocuments" class="table" *ngIf="collectionDocuments.length>0">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Collection Id</th>
                <th>Encoding</th>
                <th>Owner</th>
                <th>Updated at</th>
                <th>Updated by</th>
              </tr>
            </thead>
            <tbody>
              <tr st-select-row="row" st-select-mode="multiple" *ngFor="let row of collectionDocuments"
                (click)="documentClick()">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.collection_id}}</td>
                <td>{{row.encoding}}</td>
                <td>{{row.owner_email}}</td>
                <td>{{row.updated_at}}</td>
                <td>{{row.updated_by}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </as-split-area>
  </as-split>
</div>
