@import '@angular/material/theming';
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

/* Used by all splitters: */
// https://github.com/angular-split/angular-split/issues/224
.as-split-gutter {
  height: revert !important;
}

/* Dialogs */
.select-document-modal {
  //width:  700px;
  //height: 600px;
}

.select-document-modal .collections-tree {
  width: 600px;
  height: 400px;
  overflow: auto;
  .mat-button {
    text-transform: none
  }
}

.select-document-modal .collections-tree .selected-node {
  @extend .mat-primary;
  text-decoration: underline !important;
}

.select-document-modal .annotation-schema {
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.select-document-modal .annotation-schema-row {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.select-document-modal .annotation-schema-options {
  width: 200px;
  overflow: auto;
}
.select-document-modal .annotation-schema-values {
  width: 360px;
  height: 260px;
  overflow: auto;
}

/* Login screen */
.login-component,
.register-component {
  // margin: 80px 0 0;
  padding: 10vh 0 0 0;
  .mat-button, .mat-button-base {
    text-transform: uppercase;
  }
  .login-card,
  .register-card {
    max-width: 500px;
  }
  .division {
    float: none;
    margin: 18px auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    .line {
      border-top: 1px solid #dfdfdf;
      position: absolute;
      top: 10px;
      width: 34%;
    }
    .line.l {
      left: 0;
    }
    .line.r {
      right: 0;
    }
  }
  .social_login {
    align-items: center;
    text-align: center;
    button {
      width: 80%;
    }
    .social_logo {
      // font-size: 40px;
      //transform: scale(2);
      // font-size: 50px;
      height: 40px ;
      width: 80px;
      margin-top:6px;
      margin-right: 20px;
      margin-bottom: 6px;
    }
    .social_logo_vast {
      filter: brightness(80);
    }
  }
}

.tool-header-avatar-image {
  background-image: url("/assets/images/logo.svg");
  background-size: cover;
}

/* Annotation Toolbar */
.annotation-set-comparator-toolbar,
.select-document-toolbar,
.app-toolbar,
.annotation-toolbar {
  padding: 0px;
  //margin: -16px -16px 16px;
  font-size: 13px;
  line-height: 20px;
  height: 46px;
  mat-form-field {
    //transform: scale(0.80);
    width: 200px;
    .mat-form-field-wrapper {
      padding: 0;
      .mat-form-field-flex {
        padding: 0px 4px 0px 4px;
        .mat-form-field-infix {
          padding: 0px 0px 4px 0px;
          .mat-form-field-label-wrapper {
            .mat-form-field-label.mat-form-field-empty {
              top: 0.98em;
            }
          }
        }
      }
    }
  }

  mat-divider {
    height: 24px;
    margin: 6px;
  }

  .mat-icon-button {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }

  .mat-stroked-button {
    height: 24px;
    //width: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0px 4px;
    mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }

  mat-button-toggle, .mat-button-toggle-label-content {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0px 4px;
  }

  .overlapping-areas-select {
    width: 100%;
  }

  .mat-delete {
    background-color: white;
    color: red;
  }
  .mat-save {
    background-color: white;
    color: green;
  }
  .mat-autosave {
    background-color: white;
    color: blue;
  }
  .mat-change {
    background-color: white;
    color: orange;
  }
}

/* Document Annotation Area */
.annotation-area {
  height: calc(100% - 16px);
  margin: -16px;
  width: calc(100% + 16px + 16px); // Add margin to width

  .main-content {
    height: calc(100% - 46px - 46px); // Minus the two toolbars;
    overflow-x: auto;
    overflow-y: auto;
  }
  .main-content-document {
    /* Position the editor overlay on top of the editor */
    /* From: https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
     * If we had bootstrap 4, we could have used this:
     * https://stackoverflow.com/questions/60620315/put-div-above-another-div-in-bootstrap */
    text-widget {
      //height: 100%;
      //width: 100%;
      //display: block;
      //box-sizing: border-box;
      .annotation-editor-text-widget-container {
        height: 100%;
        width: 100%;
        position: relative;
        .annotation-editor-text-widget,
        .annotation-editor-text-widget-overlay {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none; /* auto=visiblePainted */
          z-index: 10;
        }
        .annotation-editor-image-widget {
          pointer-events: none;
        }
      }
    }
  }
  .main-content-attributes {
    width: 100%;
  }
  .main-content-settings-wrapper {
    padding: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .main-content-settings {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      > .mat-card-content {
        overflow: auto;
      }
      .main-content-settings-content {
        box-sizing: border-box;
        padding: 8px;
        .section-collection-setting,
        .section-document-setting {
          margin: 12px 0;
        }
        .section-collection-setting-margin,
        .section-document-setting-margin {
          margin: 0 12px;
        }
        ul {
          list-style-type: none;
          margin-top: 4px;
        }
      }
    }
  }
  .side-content {
    height: 100%;
    .side-content-header-container {
      @extend .text-center;
      width: 100%;
      .side-content-header {
        flex-wrap: wrap;
        mat-button-toggle, .mat-button-toggle-label-content {
          height: 24px;
          line-height: 24px;
          font-size: 12px;
          padding: 0px 4px;
        }
      }
    }
    .side-content-container {
      overflow: auto;
      height: calc(100% - 46px); // Minus one toolbar
      .found_in_collection_add {
        font-size: 12px;
        line-height: 1;
        .material-icons { font-size: 18px; height: 18px;}
      }
    }
  }
}

/* Generic text-widget */
text-widget-isolated,
text-widget {
  .annotation-editor-text-widget-container {
    height: 100%;
    width: 100%;
    position: relative;
    .annotation-editor-text-widget,
    .annotation-editor-text-widget-overlay {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none; /* auto=visiblePainted */
      z-index: 10;
    }
  }
}

/* CodeMirror */
.CodeMirror {
  height: auto;
  line-height: 1em;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  //border: 1px solid #eee;
  //height: 100% !important;
}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: transparent; /* The little square between H and V scrollbars */
}
// Codemirror panel add-on...
.remove-panel {
  cursor: pointer;
  float: right;
}
.panel {
  background: #f7f7f7;
  padding: 0px 7px;
  height: 20px;
  font-size: 13px;
  line-height: 18px;
}
.panel.top, .panel.after-top {
  border-bottom: 1px solid #ddd;
}
.panel.bottom, .panel.before-bottom {
  border-top: 1px solid #ddd;
}
.panel.caret {
  float: right;
}
.h-full-minus-editor-panel {
  height: calc(100% - 21px) !important; // Minus bottom panel!
}

.annotation-visualiser-table {
  .selected {
    background-color: mat-color($accent, default);
    .mat-cell {
      color: mat-color($accent, default-contrast);
      // font-weight: bold;
    }
  }
  .preformated {
    white-space: pre;
  }
  .annotation-row {
    &:not(.selected):hover {
      background-color: mat-color($background, hover); //whitesmoke;
    }
  }
  .mat-header-row {
    height: 26px;
    .mat-header-cell {
      text-align:  left;
      font-weight: bold;
      font-size:   14px;
      line-height: 14px;
    }
  }
  .mat-row {
    height: 24px;
    font-size:   14px;
    line-height: 14px;
  }
  .mat-cell {
    text-align: left;
    font-size:   14px;
    line-height: 14px;
  }
}

/* Annotator Set Inspectors... */
.annotation-set-inspector,
/* Annotation Visualiser */
.annotation-visualiser {
  overflow: auto;
  width: 100%;
  height: 100%;
  .annotation-visualiser-filter-field {
    font-size: 0.9em;
    width: 100%;
    padding: 0 12px 0 12px;
  }
  .annotation-list,
  .annotation-info {
     overflow-x: auto !important;
     overflow-y: auto !important;
    .annotation-visualiser-container,
    .annotation-visualiser-info-container {
      @extend .annotation-visualiser-table;
      width: 100%;
    }
  }
}

/* Add this class to any component that has a page-header */
.has-page-header {
  height: calc(100% - 68px - 24px);
  width: 100%;
}

.no-page-header {
  height: 100%;
  width: 100%;
}

.mat-card-fill-parent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 6px !important;
  overflow: auto;
  display: flex !important;
  flex-direction: column;
   > .mat-card-title-group {
     display: block;
   }
   > .mat-card-content {
     overflow: auto;
     flex: 1 1 auto;
     //display: flex;
     //flex-direction:row;
     //align-items: stretch;
   }
   .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

/* Annotation Set Filter */
.annotation-set-filter {
  padding: 0 16px;
  display: flex;
  .annotation-set-filter-builder {
    font-size: 13px;
    .q-arrow-icon-button,
    .mat-icon-button {
      height: 24px;
      width: 24px;
      line-height: 24px;
      margin: 0 !important;
    }
    .mat-radio-button {
      padding: 0px 10px;
    }

    .q-row {
      padding: 0px 8px !important;
      margin-top: 4px;
      font-size: 13px;
      line-height: 20px;
      mat-form-field {
        //width: 200px;
        .mat-form-field-wrapper {
          padding: 0;
          .mat-form-field-flex {
            padding: 0px 4px 0px 4px;
            .mat-form-field-infix {
              padding: 0px 0px 4px 0px;
              .mat-form-field-label-wrapper {
                .mat-form-field-label.mat-form-field-empty {
                  top: 0.98em;
                }
              }
            }
          }
        }
      }
      // .q-button-group {
      //    position: absolute;
      //    top: 50%; right: 8px;
      //    transform: translate(0,-50%);
      // }
    }
  }
  align-items: flex-end;
  .mat-divider {
    margin: 6px;
    align-self: stretch;
    //height: 90%;
  }
}

/* Inspection Routes */
.inspect-document,
.compare-documents,
.compare-annotations {
  .mat-card-subtitle {
    margin: 0px;
  }
  .mat-toolbar {
    background-color: inherit;
  }
  .mat-tab-group {
      height: 100%;
    .mat-tab-label {
      height: 24px;
    }
    .mat-tab-body-wrapper {
      height: 100%;
      .mat-tab-body-content {
        .mat-card-content {
          margin: 0px;
        }
      }
    }
  }
  .as-split-area {
    padding: 0px !important;
  }
}

.annotation-set-comparator {
  .mat-tab-labels:first-of-type .mat-tab-label:last-child {
    min-width: 0px;
    padding: 0 12px;
    color: unset;
    opacity: unset;
  }
  .annotation-set-comparator-options-label {
    display: inline-block;
    width: 14ch;
  }
  .annotation-set-comparator-options-form-field {
    display: inline-block;
    width: 6ch;
    margin: 0 4px;
  }
}

.annotation-set-comparator-matrix {
  width: 100%;
  .annotation-set-comparator-matrix-header-id {
     font-weight: bold;
  }
  .annotation-set-comparator-matrix-header {
     text-align: center;
     font-weight: bold;
  }
  .annotation-set-comparator-matrix-cell {
     text-align: center;
  }
}

/* Analytics Routes */
.analytics-annotation-values {
  height: calc(100% - 68px - 24px);
  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
  .mat-tab-group,
  .mat-card-content {
    height: 100%;
  }
  .mat-tab-body-content {
    display: flex;
    flex-direction:column;
  }
  .mat-card-fill-parent {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    //height: calc(100% - 4px);
    //box-sizing: border-box;
    //margin-bottom: 4px;
    display: flex;
    flex-direction: column;
     > .mat-card-title-group {
       display: block;
     }
     > .mat-card-content {
       overflow: auto;
     }
  }
  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
  .mat-toolbar {
    background-color: inherit;
  }
}
/* Collection Routes */
.manage-collections-wrapper,
.collection-add-wrapper {
  height: calc(100% - 68px - 24px);
  .as-split-area:not(.as-hidden) {
    padding: 4px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  .mat-card-fill-parent {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    //height: calc(100% - 4px);
    //box-sizing: border-box;
    //margin-bottom: 4px;
    display: flex;
    flex-direction: column;
     > .mat-card-title-group {
       display: block;
     }
     > .mat-card-content {
       overflow: auto;
     }
  }
  .sidebar-main-content {
    .mat-badge-small.mat-badge-above .mat-badge-content {
      top: 0px;
    }
  }
  .side-bar-wrapper,
  .main-content-wrapper {
    .mat-card-header-text {
      display: flex;
      align-items: center;
      .mat-card-title {
        margin: 0;
      }
      min-height: 40px;
    }
    .mat-card-actions {
      margin: 0; // Default is -8 left/right, it overflows the buttons and a scrollbar gets shown...
    }
    .document-list-table {
      overflow-x: auto;
      max-height: 17em;
      margin-bottom: 10px;
    }
  }
  mat-form-field {
    width: 100%;
  }
  .mat-grid-tile-content {
    padding-left: 1em;
    padding-right: 1em;
  }
  .main-content {
    .mat-chip-list-wrapper {
      margin: 0;
      > .mat-chip {
        margin:0;
        padding-top: 4px;
        padding-bottom: 4px;
      }
      > .mat-standard-chip {
        min-height: 1.3em;
      }
    }
    .mat-column-select {
      overflow: initial;
    }
    // Documents table columns
    .documents_table {
      .mat-icon {
        height: 20px !important;
        width: 20px !important;
        font-size: 20px !important;
        line-height: inherit;
        vertical-align: top;
      }
      .mat-icon-button {
        font-size: 20px;
        line-height: 20px;
        vertical-align: top;
        height: auto;
        width: auto;
      }
    }
    .mat-column-select {
      flex: 0 0 6ch;
      font-size: 1em;
    }
    .mat-column-id {
      @extend .overflow-ellipsis;
      flex: 0 0 12ch;
      text-align: center;
      font-size: 1em;
    }
    .mat-column-name {
      @extend .overflow-ellipsis;
      padding-left: 16px;
      text-align: left;
      font-size: 1em;
    }
    .mat-column-encoding {
      @extend .overflow-ellipsis;
      flex: 0 0 17ch;
      text-align: center;
      font-size: 1em;
    }
    .mat-column-owner,
    .mat-column-updated_at,
    .mat-column-updated_by {
      @extend .overflow-ellipsis;
      flex: 0 0 17ch;
      text-align: center;
      font-size: 1em;
    }
  }
}

/* Modals */
.add-custom-value-modal {
  mat-form-field {
    width: 90%;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
}
.share-collection-modal {
  mat-form-field {
    width: 100%;
  }
  .invitations {
    width: 500px;
    height: 250px;
    overflow: auto;
  }
}
.collection-add-wrapper,
.add-custom-value-modal,
.select-document-modal,
.share-collection-modal,
.rename-collection-modal,
.add-collection-documents-modal,
.detect-changes-dialog-model,
.confirm-dialog-modal {
  .mat-button {
    text-transform: uppercase;
  }
}
.import-collection-modal,
.import-documents-from-export-modal,
.rename-collection-modal {
  mat-form-field {
    width: 100%;
  }
  .mat-button {
    text-transform: uppercase;
  }
}

/*
 * Expansion buttons...
 */
.expansion-button {
  .mat-arrow-icon {
  //float: left;
  margin: 0px 2px 0px 0;
  transform: rotate(0);
  transition: linear 0.25s transform;
  cursor: pointer;

  &.expanded {
    transform: rotate(90deg);
  }
  }
}

highcharts-chart {
  display: block;
  //height: 100%;
}

.overflow-ellipsis {
  white-space:nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}

.overflow-auto {
  overflow: auto;
}

/* Special class for filling empty space, used to right-align buttons */
.flex-column {
  display: flex;
  flex-flow: column;
}
.flex-column-fill-x {
  flex: 0 1 auto;
}
.flex-column-fill-both,
.fill-space {
  flex: 1 1 auto;
}

.center-vertically {
  display:flex;
  align-items: center;
}

/* Ng-matero has defined all theme colors in classes */
.drop-target-allow {
  @extend .bg-green-100;
}
.drop-target-deny {
  @extend .bg-orange-100;
}
/*mat-list-option[aria-selected="true"] {
  background: rgba(0, 139, 139, 0.7);
}*/
.annotation-detail {
  overflow: hidden;
  display: flex;
}

.hidden {
  display: none;
}
