/************************************************/
.CodeMirror {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  line-height: 1.9em;
  background-color: #FFF;
}

.CodeMirror-lines {
  background-color: #FFF;
}

.annotated-text {
  padding: 0.1em 0.35em;
  margin: 0 0.1em;
  line-height: 1;
  border-radius: 0.25em;
  border: 1px solid;
  border-color: var(--border-color);
}

.annotated-text:after {
  content: attr(dataType);
  box-sizing: border-box;
  font-size: 0.7em;
  line-height: 1;
  padding: 0.1em;
  border-radius: 0.35em;
  text-transform: uppercase;
  display: inline-block;
  // vertical-align: baseline;
  vertical-align: middle;
  margin: 0 0 0.2rem 0.5rem;
  background-color: var(--border-color);
}

/************************************************/

/*** button annotator widget ***/
.button-widget-wrapper {
  margin: 0 8px;
  padding-bottom: 13px;
}
.button-widget-wrapper table {
  table-layout: fixed;
  border-collapse: separate;
  margin-bottom: 0px;
  border-spacing: 0;
}

.button-widget-wrapper table button {
  /*height: 24px!important;*/
  padding: 1px 0px;
  margin: 1px 0 !important;
  font-size: 12px !important;
}
.button-widget-wrapper table td {
  white-space: nowrap;
  border-top: none !important;
  border-bottom: none !important;
  padding: 0px 2px !important;
}
.button-widget-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #d34332;
  padding: 4px 0 3px;
}
.button-widget-subheader {
  /* white-space:nowrap;
     overflow: hidden;
     text-overflow: ellipsis;*/
  padding: 6px 0;

  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
.button-widget-paragraph-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #d34332;
  padding: 4px 0 3px;
}

.annotation-btn,
.coref-btn {
  //text-align: left;
  white-space: pre !important;
  display: inline-block;
  overflow: hidden;
  height: 100% !important;
  width: 100%;
  position: relative;
  text-overflow: ellipsis;
}
.annotation-btn-span,
.coref-btn-span {
  @extend .annotation-btn;
  text-align: left;
  float: left;
  &::before {
    color: var(--color-bg);
    background: var(--color-bg);
    // content: "\258C";
    content: "";
    margin: 0 2px 0 2px;
    display: inline-block;
    width: 4px;
    height: 16px;
    vertical-align: middle;
  }
}

/* Bootstrap 4.x does not have a btn-default any more. Extend primary... */
.btn-default {
  //@extend .btn-outline-primary;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.annotation-relation-select {
  padding: 0px;
  font-size: 13px;
  .mat-form-field-wrapper {
    padding: 0;
    .mat-form-field-flex {
      padding: 0px 4px 0px 4px;
      .mat-form-field-infix {
        padding: 0px 0px 4px 0px;
        .mat-form-field-label-wrapper {
          .mat-form-field-label.mat-form-field-empty {
            top: 0.98em;
          }
        }
      }
    }
  }
}

.annotation-relation {
  font-weight: bold;
  @extend .p-x-8;
  @extend .r-4;
}

.annotation-relation-selected {
  @extend .bg-green-900;
  @extend .text-white;
}

.button-widget-relation {
  table {
    height: 1px;
    border-collapse: separate;
    margin-bottom: 0px;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    font-size: 12px !important;
    table-layout: auto;
  }
}

.button-widget-relation-header {
  font-size: 12px !important;
  vertical-align: middle;
  height: 28px;
  line-height: 28px;
}

.annotation-relation-select {
  width: 100%;
}

annotation-relation-set-btn,
annotation-relation-import-btn {
  height: 28px;
  line-height: 28px;
  width: 28px;
  // The following two lines center the element...
  margin: 0 auto;
  display: block;
  button,
  .annotation-relation-set-btn,
  .annotation-relation-import-btn,
  .mat-button-focus-overlay,
  .mat-ripple {
    height: 24px;
    line-height: 24px;
    width: 24px;
  }
}

.coref-annotate-btn,
.coref-clear-btn,
.annotation-relation-annotate-btn,
.annotation-relation-clear-btn {
  button {
    padding: 1px 0px;
    margin: 1px 0px !important;
    font-size: 12px !important;
    line-height: 20px;
      //text-align: left;
    white-space: pre !important;
    display: inline-block;
    overflow: hidden;
    height: 100% !important;
    width: 100%;
    position: relative;
    text-overflow: ellipsis;
    min-width: 0;
  }
}
/*** end of button annotator widget ***/

/*** Coreference Annotator Customization ***/
.button-widget-wrapper.coref-widget-wrapper table {
  table-layout: auto;
}

.button-widget-wrapper.coref-widget-wrapper .button-widget-subheader {
  /* white-space:nowrap;
     overflow: hidden;
     text-overflow: ellipsis;*/
  padding: 2px 0;
  height: 24px;
}

coref-add-btn,
coref-del-btn {
  height: 24px;
  line-height: 24px;
  width: 24px;
  // The following two lines center the element...
  margin: -2px auto 0px;
  display: block;
  button,
  .coref-add-btn,
  .coref-del-btn,
  .mat-button-focus-overlay,
  .mat-ripple {
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
}

.coref-checkbox { line-height: 19px; margin: 0 5px;}
.coref-annotate-btn, .coref-clear-btn { margin: 5px 0 0!important; padding:4px 12px;}
.coref-segment-entry {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.coref-multi-entry {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.side-content-container {
  .btn-sm i {
    font-size: 18px;
  }
  .coref-span-start,
  .coref-span-end,
  .annotation-entry,
  .coref-entry,
  .coref-segment-entry,
  input[type="text"],
  select {
    height: 24px;
    resize: none;
    font-size: 12px !important;
    padding: 2px !important;
    min-height: 24px !important;
  }
  .coref-multi-entry {
    resize: none;
    font-size: 12px !important;
    padding: 3px 5px 2px !important;
    margin: 2px 0;
    white-space: pre-wrap;
    overflow-y: auto !important;
  }
}
/*** End of Coreference Annotator Customization ***/

/* TEI XML tags */
.CodeMirror-line .stage, .tei-stage {
  font-style: italic;
}

.CodeMirror-line .speaker, .tei-speaker {
  line-height: 2.6;
  font-weight: bold;
}

.CodeMirror-line .noteindex, .tei-noteindex {
  font-size: .83em;
  vertical-align: super;
}

.CodeMirror-line .quote::before, .tei-quote::before {
    content: open-quote;
}
.CodeMirror-line .quote::after, .tei-quote::after {
    content: close-quote;
}

.CodeMirror-line .emph, .tei-emph {
  font-style: italic;
}

/*
 * Annotations Diff...
 */
.diff-equal:not(.selected) {
  @extend .bg-green-100;
  &:not(.selected):hover {
    background-color: mat-color($background, hover); //whitesmoke;
  }
}
.diff-unequal:not(.selected) {
  @extend .bg-red-100;
  &:not(.selected):hover {
    background-color: mat-color($background, hover); //whitesmoke;
  }
}
.diff-lower:not(.selected) {
  @extend .bg-yellow-100;
  &:not(.selected):hover {
    background-color: mat-color($background, hover); //whitesmoke;
  }
}
.diff-greater:not(.selected) {
  @extend .bg-yellow-100;
  &:not(.selected):hover {
    background-color: mat-color($background, hover); //whitesmoke;
  }
}
