.idea
frontend/clarin/bower_components
backend/clarin/app/storage/sessions/*
backend/clarin/app/storage/views/*
backend/clarin/app/storage/logs/*
backend/clarin/storage/
backend/clarin/resources/views/angular2_index.php
backend/clarin/bootstrap/cache/
backend/clarin-laravel-6.20/
.DS_Store
frontend/clarin.zip
frontend/clarin2/
frontend/webpack-demo/
backend/clarin_old/
backend-django/DjangoClarin/.env
backend-django/DjangoClarin/.settings.py.swp
backend-django/DjangoClarin/__pycache__/
backend-django/clarin_backend/migrations/
backend-django/clarin_backend/__pycache__/
backend-django/analytics/__pycache__
backend-django/analytics/migrations/__pycache__
backend-django/drag_and_drop/__pycache__
backend-django/drag_and_drop/migrations/__pycache__
backend-django/openapi/__pycache__/
backend-django/clarin_backend/static/
backend-django/static/
backend-django/clarin_backend/templates/index.html
backend-django/apache_venv/
backend/pass.txt
clarin-angular/package-lock.json
