[submodule "clarin-angular/externals/krippendorff-alpha"]
	path = clarin-angular/externals/krippendorff-alpha
	url = https://github.com/tanbt/krippendorff-alpha.git
[submodule "themes/andromeda-light"]
	path = themes/andromeda-light
	url = https://github.com/gethugothemes/andromeda-light.git
