<mat-toolbar class="select-annotator-toolbar app-toolbar">
  <span>{{'annotation.Annotator'|translate}}:&nbsp;</span>
  <mat-form-field class="annotator-select" appearance="outline" [ngClass]="{'w-full' : fillWidth}">
    <mat-select [(ngModel)]="selected_annotators" [multiple]="allowMultipleAnnotators"
      ng-options="annotator as annotator.name for annotator in annotators"
      (selectionChange)="onAnnotatorSelectionChange();">
      @for (annotator of annotators; track annotator) {
        <mat-option [value]="annotator">
        {{annotator.name}} ({{annotator.count}} {{"Annotations"|translate}})</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (showApplyButton) {
    <mat-divider [vertical]="true"></mat-divider>
  }
  @if (showApplyButton) {
    <button mat-raised-button color="primary"
      (click)="onApply.emit(ApplyButtonLabel)"
    [disabled]="applyDisabled">{{ApplyButtonLabel|translate}}</button>
  }
  <!--<span fxflex="" ng-reflect-fx-flex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>-->
</mat-toolbar>
