@if (showPageHeader) {
  <page-header title="{{'pageheader.Inspect Document'|translate}}"></page-header>
}
<div class="inspect-document" [ngClass]="{'has-page-header': showPageHeader, 'no-page-header': !showPageHeader}">
  <mat-card appearance="outlined" class="mat-card-fill-parent">
    <mat-card-header>
      <mat-card-subtitle>
        @if (showDocumentSelectionToolbar) {
          <toolbar-select-document
            [allowMultipleCollections]="allowMultipleCollections"
            [allowMultipleDocuments]="allowMultipleDocuments"
            (selectedCollections)="onCollectionsChange($event)"
            (selectedDocuments)="onDocumentsChange($event)"
            >
          </toolbar-select-document>
        }
        @if (showAnnotatorSelectionToolbar) {
          <toolbar-select-annotator
            [allowMultipleAnnotators]="allowMultipleAnnotators"
            [annotators]="annotators"
            [showApplyButton]="true"
            (selectedAnnotators)="onAnnotatorsChange($event)"
            (onApply)="onApply($event)"
            >
          </toolbar-select-annotator>
        }
        @if (showAnnotationSetFilter) {
          <annotation-set-filter
            [showApplyButton]="true"
            [collections]="selectedCollection"
            [documents]="selectedDocument"
            (onApply)="onApplyFilter($event)"
            >
          </annotation-set-filter>
        }
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="main-content">
      <annotation-set-inspector
        [collections]="selectedCollection"
        [documents]="selectedDocument"
        [annotations]="annotations"
        >
      </annotation-set-inspector>
    </mat-card-content>
  </mat-card>
</div>
