@if (showPageHeader) {
  <page-header title="{{'pageheader.Add New Collection'|translate}}"></page-header>
}
<div class="collection-add-wrapper">
  <as-split direction="horizontal" style="height: 100%;">
    <as-split-area order="1" [visible]="showMyCollections" [size]="30" [minSize]="10" [maxSize]="60"
      class="side-bar-wrapper">
      <mat-card appearance="outlined" class="mat-card-fill-parent">
        <!-- SIDEBAR HEADER -->
        <mat-card-header class="sidebar-header">
          <mat-card-title matBadge="{{dataForTheTree.length}}" matBadgeOverlap="false" matBadgeColor="accent">
          {{'Collections.MyCollections'|translate}}</mat-card-title>
        </mat-card-header>
        <!-- SEARCH COLLECTION LIST -->
        <div class="fxLayout fxLayoutAlign-start-center">
          <mat-form-field class="collection-list-filter-field mat-mdc-form-field-small">
            <mat-label>{{'Collections.Filter Collections'|translate}}</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" class="collection-list-filter-input" (keyup)="onApplyCollectionFilter($event)"
              placeholder="{{'Collections.FilterCollectionsPlaceholder'|translate}}" #input
              [(ngModel)]="collectionsFilter">
            @if (collectionsFilter) {
              <button mat-icon-button matSuffix aria-label="Clear"
                class="mat-mdc-icon-button-small" (click)="collectionsFilter=''; onApplyCollectionFilter($event)">
                <mat-icon>backspace</mat-icon>
              </button>
            }
          </mat-form-field>
        </div>
        <mat-card-content class="sidebar-main-content mat-card-fill-parent">
          <!-- SIDEBAR COLLECTION LIST -->
          <mat-selection-list #collections="cdkDropList" [multiple]="false" [hideSingleSelectionIndicator]="true"
            cdkDropList (cdkDropListDropped)="onCollectionDrop($event)"
            [cdkDropListSortPredicate]="onCollectionDropOver"
            [cdkDropListAutoScrollDisabled]="disableCollectionDraggingAutoscroll">
            @for (collection of dataForTheTree; track collection; let index = $index) {
              <mat-list-option [value]="collection"
                (click)="showSelectedCollection(collection, index)" cdkDrag [cdkDragDisabled]="disableCollectionDragging"
                [ngClass]="{'drop-target-allow': dropTargetCollection == index && dropTargetCollectionAllow, 'drop-target-deny': dropTargetCollection == index && !dropTargetCollectionAllow}">
                @if (collection.confirmed!=1) {
                  <mat-icon matListItemIcon matBadge="{{collection.document_count}}"
                    matBadgeOverlap="true" matBadgeSize="small" matBadgeColor="accent"
                  matBadgePosition="before">folder</mat-icon>
                }
                @if (collection.confirmed==1 && collection.is_owner) {
                  <mat-icon matListItemIcon
                    matBadge="{{collection.document_count}}" matBadgeOverlap="true" matBadgeSize="small"
                  matBadgeColor="accent" matBadgePosition="before">folder_shared</mat-icon>
                }
                @if (collection.confirmed==1 && !collection.is_owner) {
                  <mat-icon matListItemIcon
                    matBadge="{{collection.document_count}}" matBadgeOverlap="true" matBadgeSize="small"
                  matBadgeColor="accent" matBadgePosition="before">snippet_folder</mat-icon>
                }
                <span matListItemTitle matTooltip="{{collection.name}}">{{collection.name}}</span>
                @if (collection.confirmed==1 && collection.is_owner) {
                  <span matListItemLine
                  >({{'Collections.SharedByMe'|translate}})</span>
                }
                @if (collection.confirmed==1 && !collection.is_owner) {
                  <span matListItemLine class="label label-info"
                  title="The actions that can be performed on this collection are limited because it does not belong to you">({{'Collections.SharedWithMe'|translate}})</span>
                }
              </mat-list-option>
            }
          </mat-selection-list>
          <!--
          <mat-action-list>
            <button mat-list-item *ngFor="let collection of dataForTheTree">
              <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon> {{collection.name}} <span class="right">
              <span *ngIf="collection.confirmed==1 && collection.is_owner"
              class="label label-info">{{'Collections.SharedByMe'|translate}}</span>
              <span *ngIf="collection.confirmed==1 && !collection.is_owner" class="label label-info"
              title="The actions that can be performed on this collection are limited because it does not belong to you">{{'Collections.SharedWithMe'|translate}}</span>
              ({{collection.document_count}} {{'Collections.Documents'|translate}})
            </span>
          </button>
        </mat-action-list>
        -->
      </mat-card-content>
    </mat-card>
  </as-split-area>
  <as-split-area order="2" [size]="70" [minSize]="40" [maxSize]="90" class="main-content-wrapper">
    <mat-card appearance="outlined" class="mat-card-fill-parent">
      @if (showHeader) {
        <mat-card-header class="main-content-header">
          <mat-card-title>{{(creatingNewCollection ? 'Collections.AddNewCollection' : 'Collections.EditCollection') |
          translate}}</mat-card-title>
        </mat-card-header>
      }
      <form [formGroup]="editCollectionForm" (submit)="submitCollection()">
        <mat-card-content class="main-content">
          @if (showNameField) {
            <mat-form-field appearance="outline">
              <mat-label>{{'Collections.CollectionName' | translate}}</mat-label>
              <input matInput type="text" formControlName="collectionName"
                placeholder="{{'Collections.PleaseEnterTheNameOfTheCollection...' | translate}}"
                [(ngModel)]="collectionData.name" required minlength="4" [pattern]="collectionNamePattern">
              @if (editCollectionForm.get('collectionName').hasError('required')) {
                <mat-error>
                  {{'validations.required' | translate}}
                </mat-error>
              }
              @if (editCollectionForm.get('collectionName').hasError('pattern')) {
                <mat-error>
                  {{'validations.pattern' | translate}}
                </mat-error>
              }
              @if (editCollectionForm.get('collectionName').hasError('minlength')) {
                <mat-error translate [translateParams]="{number:'4'}"
                  >
                  validations.minlength
                </mat-error>
              }
            </mat-form-field>
          }
          <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="6em" (window:resize)="onResize($event)">
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>{{'Collections.DefaultEncoding' | translate}}</mat-label>
                <mat-select formControlName="collectionEncoding" [(ngModel)]="collectionData.encoding"
                  (change)="encodingChange()">
                  @for (encodingOption of encodingOptions; track encodingOption) {
                    <mat-option [value]="encodingOption">
                      {{encodingOption}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>{{'Collections.DefaultHandler' | translate}}</mat-label>
                <mat-select formControlName="collectionHandler" [(ngModel)]="collectionData.handler"
                  (change)="handlerChange()">
                  @for (handlerOption of handlerOptions; track handlerOption) {
                    <mat-option [value]="handlerOption">
                    {{handlerOption.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">computer</mat-icon>
                {{'Collections.Upload Files from this Computer' | translate}}
              </ng-template>
              <div class="document-list">
                <label>{{'Collections.FilesToBeAddedToTheCollection' | translate}}:</label>
                <div class="document-list-component">
                  <div id="uploadTable" class="document-list-table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'Filename'|translate}}</th>
                          @if (filterFiles !== false) {
                            <th>{{'Type'|translate}}</th>
                          }
                          @if (filterFiles !== false) {
                            <th>{{'Encoding'|translate}}</th>
                          }
                          @if (filterFiles !== false) {
                            <th>{{'Handler'|translate}}</th>
                          }
                          <th></th>
                        </tr>
                      </thead>
                      @if (userFiles.length!=undefined && userFiles.length + europeanaFiles.length >0) {
                        <tbody>
                          @for (file of userFiles; track file; let index = $index) {
                            <tr>
                              <td>{{index+1}}</td>
                              <td>{{file.name}}</td>
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="type" class="form-control" [(ngModel)]="file.type"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of typeOptions; track o) {
                                      <option [value]="o">{{o}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="defaultEndoding" class="form-control" [(ngModel)]="file.encoding"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of encodingOptions; track o) {
                                      <option [value]="o">{{o}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="handler" class="form-control" [(ngModel)]="file.handler"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of handlerOptions; track o) {
                                      <option [ngValue]="o">{{o.name}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              <td>
                                <button mat-icon-button (click)="userFiles.splice(index, 1)"
                                  [matTooltip]="'Remove'|translate">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </td>
                            </tr>
                          }
                          @for (file of europeanaFiles; track file; let index = $index) {
                            <tr>
                              <td>{{userFiles.length+index+1}}</td>
                              <td>{{file.name}}</td>
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="type" class="form-control" [(ngModel)]="file.type"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of typeOptions; track o) {
                                      <option [value]="o">{{o}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="defaultEndoding" class="form-control" [(ngModel)]="file.encoding"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of encodingOptions; track o) {
                                      <option [value]="o">{{o}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              @if (filterFiles !== false) {
                                <td>
                                  <select id="handler" class="form-control" [(ngModel)]="file.handler"
                                    [ngModelOptions]="{standalone: true}">
                                    @for (o of handlerOptions; track o) {
                                      <option [ngValue]="o">{{o.name}}</option>
                                    }
                                  </select>
                                </td>
                              }
                              <td>
                                <button mat-icon-button (click)="europeanaFiles.splice(index, 1)"
                                  [matTooltip]="'Remove'|translate">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </td>
                            </tr>
                          }
                        </tbody>
                      }
                    </table>
                  </div>

                <!--uploader flow-init></uploader><hr-->
                <uploader [allowedTypes]="allowedTypes" [fileTypeOptions]="typeOptions"
                  [fileEncodingOptions]="encodingOptions" [fileHandlerOptions]="handlerOptions"
                  [collectionData]="collectionData" [collectionDataUpdated]="collectionDataUpdated"
                [flowAttributes]="flowAttributes" (handleFileInputs)="handleFileInputs($event)"></uploader>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon svgIcon="logo_europeana" class="example-tab-icon"></mat-icon>
              Europeana
            </ng-template>
            <app-europeana-search (selected)="handleEuropeanaInputs($event)"></app-europeana-search>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions align="end">
        @if (showSubmitButton) {
          <button type="submit" mat-button [disabled]="editCollectionForm.invalid" color="primary"
            >
            {{'Collections.AddCollection' | translate}}
          </button>
        }
      </mat-card-actions>
    </form>
  </mat-card>
</as-split-area>
</as-split>
</div>
