<div class="detect-open-doc-modal">
  <h1 mat-dialog-title>{{'Warning'|translate}}</h1>
  <mat-dialog-content>
    <flash-messages></flash-messages>
    It seems that you have done changes on the document that have not been saved. What do you want to do?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="saveChanges()">{{'Save Changes'|translate}}</button>
    <button mat-button (click)="discardChanges()">{{'Discard Changes'|translate}}</button>
  </mat-dialog-actions>
</div>
