<div class="cover" *ngIf="documentSelection"></div>
<div class="annotation-area">
  <toolbar-widget></toolbar-widget>
  <as-split direction="horizontal" style="height: 100%;">
    <as-split-area [size]="70" [minSize]="40" [maxSize]="90" class="main-content-wrapper">
      <mat-toolbar class="annotation-toolbar">
        <mat-button-toggle-group class="main-content-header" name="annotation-main-content-header"
          aria-label="Content Page" [hidden]="!layout.showEditorTabs" [(ngModel)]="maincontentSelector">
          <mat-button-toggle value="document">Document</mat-button-toggle>
          <mat-button-toggle value="attributes">Document Attributes</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-toolbar>
      <div class="main-content">
        <!--div class='spinner-border' role='status'><span class='sr-only'>Loading...</span></div>
      <div *ngIf='spinnerVisible'><span class='fa fa-spinner'>Loading...</span></div-->
        <div class="main-content-document" [hidden]="maincontentSelector!='document'">
          <text-widget></text-widget>
        </div>
        <table id="main-content-annotate-document-attributes" class="main-content-attributes"
          [hidden]="maincontentSelector!='attributes'">
          <tbody>
            <tr class="main-content-attributes-header">
              <td></td>
            </tr>
            <tr class="main-content-attributes-row">
              <td class="main-content-attributes-cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <overlapping-areas></overlapping-areas>
    </as-split-area>
    <as-split-area [size]="30" [minSize]="10" [maxSize]="60" class="side-bar-wrapper">
      <div class="side-content">
        <mat-toolbar class="annotation-toolbar">
          <div class="side-content-header-container">
            <mat-button-toggle-group class="side-content-header" aria-label="Schema Page" [(ngModel)]="sidebarSelector">
              <mat-button-toggle value="annotator">{{annotatorType}}</mat-button-toggle>
              <mat-button-toggle value="annotationVisualiser">Annotation Visualiser</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-toolbar>
        <div class="side-content-container">
          <annotation-visualizer [hidden]="sidebarSelector!='annotationVisualiser'"></annotation-visualizer>
          <annotator-widget [hidden]="sidebarSelector!='annotator'"></annotator-widget>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
