django
django-environ
#django-filter
djangorestframework
djangorestframework-simplejwt
#django-webpack-loader
#markdown
mysqlclient
#requests
simplejwt
six
lxml
beautifulsoup4
pillow
dataclasses_json
base64
pymongo
mysql-connector-python
bcrypt
pyyaml
uritemplate
drf-spectacular
newspaper3k
trafilatura
transformers
torch
django-allauth
drf-oidc-auth
#django-oidc-auth
git+https://github.com/intelie/django-oidc-auth.git
