<div class="navbar yamm navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="collections/manage"><img src="images/logo.jpg"  class="app-logo"></a>
        </div>
        <div>
            <ul class="nav navbar-nav cursor">
                <li ui-sref-active="active" class="dropdown">
                    <a ui-sref="#" class="dropdown-toggle" data-toggle="dropdown">Collections<i class="fa fa-circle-o fa-super" ng-class="{'fa-circle':$state.includes('collections')}"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="collections/add">Add new collection</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="collections/manage">Manage collections</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="schemas">Schemas<i class="fa fa-circle-o fa-super" ng-class="{'fa-circle':$state.includes('schemas')}"></i></a>
                </li>
                <li ui-sref-active="active">
                    <a href="annotation">Annotation<i class="fa fa-circle-o fa-super" ng-class="{'fa-circle':$state.includes('annotation')}"></i></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a href="clarin/profile"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
                </li>
                <li>
                    <a href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>