<page-header title="{{'pageheader.Annotation Values'|translate}}" *ngIf="showPageHeader"></page-header>
<div class="analytics-annotation-values" [ngClass]="{'has-page-header': showPageHeader, 'no-page-header': !showPageHeader}">
  <mat-card appearance="outlined" class="mat-card-fill-parent">
    <mat-card-header>
      <mat-card-subtitle>
        <toolbar-select-document *ngIf="showDocumentSelectionToolbar"
          (selectedCollections)="onCollectionsChange($event)" (selectedDocuments)="onDocumentsChange($event)"
          [allowMultipleCollections]="allowMultipleCollections" [allowMultipleDocuments]="allowMultipleDocuments">
        </toolbar-select-document>
        <toolbar-select-annotator *ngIf="showAnnotatorSelectionToolbar"
          (selectedAnnotators)="onAnnotatorsChange($event)" [allowMultipleAnnotators]="true" [annotators]="annotators"
          [showApplyButton]="true" (onApply)="onApply($event)">
        </toolbar-select-annotator>
        <annotation-set-filter *ngIf="showAnnotationSetFilter"
          [ignoreDocumentAttributes]="true"
          [ignoreCollectionAttributes]="true"
          [showApplyButton]="true"
          [collections]="selectedCollections"
          [documents]="selectedDocuments"
          (onApply)="onApplyFilter($event)"
        >
        </annotation-set-filter>
        <p>Selected Collections: {{selectedCollections.length}}, Selected Documents: {{selectedDocuments.length}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="main-content">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Table">
          <mat-toolbar>
            <button mat-raised-button
              (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'The Ellogon Annotation Platform'}})">{{"Excel"|translate}}</button>
            <button mat-raised-button (click)="exporter.exportTable('csv')">{{"CSV"|translate}}</button>
            <button mat-raised-button (click)="exporter.exportTable('json')">{{"JSON"|translate}}</button>
            <button mat-raised-button (click)="exporter.exportTable('txt')">{{"TXT"|translate}}</button>
          </mat-toolbar>
          <table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" matSort
            class="w-full">
            <!-- Label Column -->
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by label">
                Name
              </th>
              <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by value">
                Value
              </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <!-- Group Column -->
            <ng-container matColumnDef="group">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by group">
                Group
              </th>
              <td mat-cell *matCellDef="let element"> {{element.group}} </td>
            </ng-container>

            <!-- Count Column -->
            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count">
                Count
              </th>
              <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab label="{{'Analytics.Bar Charts'|translate}}">
          <mat-toolbar>
            <button mat-raised-button (click)="onChartUpdate('plain')">{{"COLUMNS"|translate}}</button>
            <button mat-raised-button (click)="onChartUpdate('inverted')">{{"BARS"|translate}}</button>
            <!--<button mat-raised-button (click)="onChartUpdate('polar')">{{"POLAR"|translate}}</button>-->
          </mat-toolbar>
          <highcharts-chart class="h-full" [Highcharts]="Highcharts" [options]="chartOptionsBar"
            (chartInstance)="setChartInstanceBar($event)">
          </highcharts-chart>
        </mat-tab>
        <mat-tab label="{{'Analytics.Pie Charts'|translate}}">
          <highcharts-chart class="h-full" [Highcharts]="Highcharts" [options]="chartOptionsPie"
            (chartInstance)="setChartInstancePie($event)">
          </highcharts-chart>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
