<div class="annotation-set-inspector">
  <as-split direction="vertical" class="h-full-minus-editor-panel">
    <as-split-area [size]="50" [minSize]="10" [maxSize]="90" class="annotation-list">
      <table mat-table [dataSource]="annotationsDataSource" multiTemplateDataRows class="annotation-visualiser-container">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let annotation; let i = index" class="overflow-ellipsis">
            {{annotation._id}}
          </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let annotation; let i = index" class="overflow-ellipsis">
            {{annotation.attributes[0].value}}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let annotation; let i = index" class="overflow-ellipsis">{{(annotation.type == 'setting
            annotation') ? ('Setting'|translate) : (annotation.type)}}
          </td>
        </ng-container>
        <ng-container matColumnDef="spans">
          <th mat-header-cell *matHeaderCellDef>Spans</th>
          <td mat-cell *matCellDef="let annotation;let i = index" class="overflow-ellipsis">
           {{annotation|annotationSpans: this.annotations}}
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let annotation" [attr.colspan]="annotationListDisplayedColumns.length">
            <div [@detailExpand]=" (annotation == selectedAnnotation && annotation._id == selectedIndex) ? 'expanded' : 'collapsed'" class="annotation-detail">
               <annotation-detail [selectedAnnotationDataSource]="selectedAnnotationDataSource" [showHeader]="false" class="w-full"></annotation-detail>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="annotationListDisplayedColumns; sticky: true"></tr>
        <tr mat-row (click)="setSelectedAnnotation(row)" [ngClass]="{ selected: row._id == selectedIndex }" 
          *matRowDef="let row; columns: annotationListDisplayedColumns;" class="annotation-row">
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" style="height: 0;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="annotationListDisplayedColumns.length">{{'No data matching the filter'|translate}}</td>
        </tr>
      </table>
    </as-split-area>
    <as-split-area [size]="50" [minSize]="10" [maxSize]="90" class="annotation-info">
      <text-widget-isolated></text-widget-isolated>
    </as-split-area>
  </as-split>
  <div class="panel bottom">
    <span class="panel caret" *ngIf="footer_caret_show">
      {{'Line'|translate}}: {{footer_caret_line}},
      {{'Column'|translate}}: {{footer_caret_column}},
      {{'Offset'|translate}}: {{footer_caret_offset}},
      {{'Selection'|translate}}: {{footer_caret_selection}}
    </span>
  </div>
</div>
