<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ APPLICATION_NAME }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <style>
      .top-margin {
        margin-top: 100px;
      }
      .login-logo {
        width: 10rem;
      }
      .info-block {
        max-width: 30rem;
        word-wrap: break-word;
        padding: 20px 20px 30px;
        margin: 15px auto 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    {% csrf_token %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <h1 class="top-margin">{{ APPLICATION_NAME }}</h1>
          <img class="login-logo" src="{{ ellogon_logo }}" alt="Ellogon Logo!" />

          <div class="alert alert-primary info-block" role="alert">
            <div class="{{ message_class }}" role="alert">{{ message }}</div>
            <a class="btn btn-primary center" href="{{ base_url }}">Return to the {{ APPLICATION_NAME }}</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
