<page-header title="{{'pageheader.Dashboard'|translate}}"></page-header>
<!--
  <breadcrumb></breadcrumb>
-->
<div class="dashboard-main">
<mat-card appearance="outlined">
<mat-card-header>
<mat-card-title>{{'dashboard.MyCollections' | translate}}</mat-card-title>
<mat-card-subtitle>{{'dashboard.MyCollectionsInfo' | translate}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of myStatistics">
    <mat-card appearance="outlined" [ngClass]="['text-white', stat.color]">
      <!--<mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
      <mat-card-header>
        <mat-card-title class="text-center">{{stat.title | translate}}</mat-card-title>
        <mat-card-subtitle>{{stat.subtitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="text-center">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="dashboard-item text-muted">{{stat.footer | translate}}</small>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</mat-card-content>
<mat-card-footer></mat-card-footer>
</mat-card>

<mat-card appearance="outlined">
<mat-card-header>
<mat-card-title>{{'dashboard.MySharedCollections' | translate}}</mat-card-title>
<mat-card-subtitle>{{'dashboard.MySharedCollectionsInfo' | translate}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of mySharedStatistics">
    <mat-card appearance="outlined" [ngClass]="['text-white', stat.color]">
      <!--<mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
      <mat-card-header>
        <mat-card-title class="text-center">{{stat.title | translate}}</mat-card-title>
        <mat-card-subtitle>{{stat.subtitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="text-center">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="dashboard-item text-muted">{{stat.footer | translate}}</small>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</mat-card-content>
<mat-card-footer></mat-card-footer>
</mat-card>

<mat-card appearance="outlined">
<mat-card-header>
<mat-card-title>{{'dashboard.MyUnsharedCollections' | translate}}</mat-card-title>
<mat-card-subtitle>{{'dashboard.MyUnsharedCollectionsInfo' | translate}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of myUnsharedStatistics">
    <mat-card appearance="outlined" [ngClass]="['text-white', stat.color]">
      <!--<mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
      <mat-card-header>
        <mat-card-title class="text-center">{{stat.title | translate}}</mat-card-title>
        <mat-card-subtitle>{{stat.subtitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="text-center">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="dashboard-item text-muted">{{stat.footer | translate}}</small>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</mat-card-content>
<mat-card-footer></mat-card-footer>
</mat-card>

<mat-card appearance="outlined">
<mat-card-header>
<mat-card-title>{{'dashboard.MyTotalStatistics' | translate}}</mat-card-title>
<mat-card-subtitle>{{'dashboard.MyTotalStatisticsInfo' | translate}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of myTotalStatistics">
    <mat-card appearance="outlined" [ngClass]="['text-white', stat.color]">
      <!--<mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
      <mat-card-header>
        <mat-card-title class="text-center">{{stat.title | translate}}</mat-card-title>
        <mat-card-subtitle>{{stat.subtitle | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="text-center">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="dashboard-item text-muted">{{stat.footer | translate}}</small>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</mat-card-content>
<mat-card-footer></mat-card-footer>
</mat-card>
</div>
