<div autoheight scroll-subtraction-height="145">
	<div ui-layout>
		<div ui-layout-container size="300px">
		    <div class="annotation-visualiser-header">
		        <div class="col-md-4 right-divider">ID</div>
		        <div class="col-md-4 right-divider">Type</div>
		        <div class="col-md-4">Spans</div>
			</div>
		    <div ng-show="annotations.length==0" class="caution-msg">This document has not annotations</div>
	      	<div ng-show="annotations.length>0" class="annotation-visualiser-content" 
	             ng-repeat="annotation in annotations" 
	             ng-click="setSelectedAnnotation(annotation, $index)"  
	             ng-class="{ active: $index == selectedIndex }">
	        	<div class="col-md-4 right-divider overflow-ellipsis">{{annotation._id}}</div>
	            <div class="col-md-4 right-divider overflow-ellipsis">{{annotation.type}}</div>
	            <div class="col-md-4 overflow-ellipsis">{{annotation.spans[0].start}}:{{annotation.spans[0].end}}</div>
	        </div>
		</div>
		<div ui-layout-container>
			<div class="annotation-visualiser-header">
				<div class="col-md-3 right-divider">Name</div>
		        <div class="col-md-9">Value</div>
		    </div>
		    <div ng-show="!selectedAnnotation._id" class="caution-msg">No available details</div>
	        <div ng-show="selectedAnnotation._id">
	           	<div class="annotation-visualiser-content">
	                <div class="col-md-3 right-divider overflow-ellipsis">ID</div>
	                <div class="col-md-9 overflow-ellipsis">{{selectedAnnotation._id}}</div>
	            </div>
	            <div class="annotation-visualiser-content">
	               	<div class="col-md-3 right-divider overflow-ellipsis">Type</div>
	               	<div class="col-md-9 overflow-ellipsis">{{selectedAnnotation.type}}</div>
	            </div>
               	<div class="annotation-visualiser-content" ng-repeat="span in selectedAnnotation.spans track by $id($index)">
                	<div class="col-md-3 right-divider overflow-ellipsis"><span ng-hide="$index>0">Spans</span>&nbsp;</div>
                  	<div class="col-md-9 overflow-ellipsis" title="{{span.segment}}">{{span.start}}:{{span.end}} ["{{span.segment}}"]</div>
               	</div>
               	<div class="annotation-visualiser-content" ng-repeat="attribute in selectedAnnotation.attributes track by $id($index)">
                  	<div class="col-md-3 right-divider overflow-ellipsis"><span ng-hide="$index>0">Attributes</span>&nbsp;</div>
                  	<div class="col-md-9 overflow-ellipsis">{{attribute.name}} &nbsp;-&nbsp; "{{attribute.value}}"</div>
               	</div>
	        </div>
		</div>
	</div>
</div>