<div id="toolbar-widget" class="toolbar-widget">
    <div class="toolbar-element left">Collection:&nbsp;{{selectedCollectionName}}</div>
    <div class="toolbar-divider left"></div>
    <div class="toolbar-element left">Document:&nbsp;'
        <select class="form-control right" ng-model="selectedDocument" ng-options="document as document.name for document in selectedCollectionDocuments" ng-change="updateDocumentDropdown(selectedDocument);"></select>
    </div>
    <div class="toolbar-divider left"></div>
    <div class="toolbar-element left btn-group">
        <a class="btn btn-default btn-xs" ng-click="prevDocument()" title="Previous Document"><i class="fa fa-chevron-left"></i></a>
        <a class="btn btn-default btn-xs" ng-click="nextDocument()" title="Next Document"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="btn-toolbar right">
        <a class="btn btn-danger btn-xs" ng-click="deleteAnnotation()"><i class="fa fa-trash-o fa-lg"></i> Delete Annotation</a>
        <a class="btn btn-success btn-xs" ng-click="saveAnnotations()"><i class="fa fa-save fa-lg"></i> Save Annotations</a>
        <a class="btn btn-primary btn-xs" ng-click="autoSaveIndicator=!autoSaveIndicator">Auto Save
            <i class="fa fa-circle-o fa-super" ng-class="autoSaveIndicator ? 'fa fa-circle fa-super' : 'fa fa-circle-o fa-super'"></i>
        </a>
        <a class="btn btn-warning btn-xs" ng-click="$parent.openDocumentSelectionModal()">Change Collection</a>
    </div>
<div/>