<div class="cover" ng-show="documentSelection"></div>
<div ui-layout="{dividerSize:'0'}">
  <div ui-layout-container ng-include="'templates/navbar.html'" size="50px" min-size="50px" max-size="50px"></div>
  <div ui-layout-container size="46px" min-size="46px" max-size="46px">
    <toolbar-widget></toolbar-widget>
  </div>
  <div ui-layout-container>
    <!-- ng-hide="documentSelection" -->
    <div ui-layout="{flow : 'column'}">
      <div ui-layout-container>
        <div ui-layout="{dividerSize:'0', disableToggle:true}" ui-layout-loaded="left-column">
          <div ui-layout-container size="46px" min-size="0px" max-size="46px" collapsed="!layout.showEditorTabs" id="annotation-main-content-header-layout-container">
            <div class="main-content-header flow-effect-top toolbar-widget" id="annotation-main-content-header">
              <div class="btn-group toolbar-element left">
                <label class="btn btn-default active" ng-model="maincontentSelector" btn-radio="'document'" ng-show="layout.showDocument">Document</label>
                <label class="btn btn-default" ng-model="maincontentSelector" btn-radio="'attributes'" ng-show="layout.showDocumentAttributes">Document Attributes</label>
              </div>
              <div class="toolbar-divider left" ng-show="layout.showLinkRouterSelector" />
	      <div class="toolbar-element left" ng-show="layout.showLinkRouterSelector">Link Router:&nbsp;
                <select class="form-control right" name="linkRoutername" ng-model="layout.routerName" ng-change="updateLinkRouter(layout.routerName);">
                  <option value="direct">Direct</option>
                  <option value="smooth">Smooth</option>
                  <option value="manhattan">Manhattan</option>
                  <option value="metro">Metro</option>
                </select>
	      </div>
            </div>
          </div>
          <div ui-layout-container="central" class="main-content">
            <!--<div class="main-content2"> -->
              <div class='spinner-border' role='status'><span class='sr-only'>Loading...</span></div>
              <div class="main-content-document" ng-show="maincontentSelector=='document'"><text-widget></text-widget></div>
              <table id="main-content-annotate-document-attributes" class="main-content-attributes" ng-show="maincontentSelector=='attributes'">
                <tbody>
                  <tr class="main-content-attributes-header">
                    <td></td>
                  </tr>
                  <tr class="main-content-attributes-row"><td class="main-content-attributes-cell" /></tr>
                </tbody>
              </table>
              <div ng-show='spinnerVisible'><span class='fa fa-spinner'>Loading...</div>
            <!--</div>-->
          </div>
          <div ui-layout-container size="48px" min-size="48px" max-size="48px">
            <overlapping-areas></overlapping-areas>
          </div>
        </div>
        <!--
        <div class="main-content" autoslimscroll scroll-subtraction-height="144">
          <text-widget></text-widget>
        </div>
        <overlapping-areas></overlapping-areas> -->
      </div>
      <!-- Petasis, 19/03/2021: allow bar to move to a wider range<div ui-layout-container size="400px" min-size="280px" max-size="520px"> -->
      <div ui-layout-container size="25%" min-size="15%" max-size="75%">
        <div class="sidebar-header flow-effect-top" id="annotation-sidebar-header">
          <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="sidebarSelector" btn-radio="'annotator'">{{annotatorType}}</label>
            <label class="btn btn-default" ng-model="sidebarSelector" btn-radio="'annotationVisualiser'">Annotation Visualiser</label>
          </div>
        </div>
        <div class="sidebar-main-content" trigger-resize>
          <annotation-visualizer ng-show="sidebarSelector=='annotationVisualiser'"></annotation-visualizer>
          <annotator-widget ng-show="sidebarSelector=='annotator'"></annotator-widget>
        </div>
      </div>
    </div>
  </div>
</div>
