<div class="cover" ng-show="documentSelection"></div>
<div ui-layout="{dividerSize:'0'}">
  <div ui-layout-container ng-include="'templates/navbar.html'" size="50px" min-size="50px" max-size="50px"></div>
  <div ui-layout-container size="46px" min-size="46px" max-size="46px">
    <toolbar-widget></toolbar-widget>
  </div>
  <div ui-layout-container>
    <!-- ng-hide="documentSelection" -->
    <div ui-layout="{flow : 'column'}">
      <div ui-layout-container>
        <div class="main-content" autoslimscroll scroll-subtraction-height="144">
          <text-widget></text-widget>
        </div>
        <overlapping-areas></overlapping-areas>
      </div>
      <div ui-layout-container size="400px" min-size="280px" max-size="520px">
        <div class="sidebar-header flow-effect-top" id="annotation-sidebar-header">
          <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="sidebarSelector" btn-radio="'annotator'">{{annotatorType}}</label>
            <label class="btn btn-default" ng-model="sidebarSelector" btn-radio="'annotationVisualiser'">Annotation Visualiser</label>
          </div>
        </div>
        <div class="sidebar-main-content" trigger-resize>
          <annotation-visualizer ng-show="sidebarSelector=='annotationVisualiser'"></annotation-visualizer>
          <annotator-widget ng-show="sidebarSelector=='annotator'"></annotator-widget>
        </div>
      </div>
    </div>
  </div>
</div>
