<div ui-layout="{dividerSize:'0'}">
    <div ui-layout-container ng-include="'templates/navbar.html'" size="50px" min-size="50px" max-size="50px" ></div>
  	<div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
          	<div ui-layout-container size="400px" min-size="280px" max-size="520px">
            	<div class="sidebar-header flow-effect-top">
	                <div class="btn-group btn-group-justified">
	                    <label class="btn btn-default" ng-model="sidebarSelector" btn-radio="'myCollections'">My Collections</label>
	                </div>
	            </div>
	            <div class="sidebar-main-content">
	                <ul>
	                    <li ng-repeat="collection in dataForTheTree track by collection.id">
	                        <img src="images/folder-closed.png"/> {{collection.name}} <span class="right">
                 		 		<span ng-show="collection.confirmed==1 && collection.is_owner" class="label label-info">Shared by me</span>
                 		 		<span ng-show="collection.confirmed==1 && !collection.is_owner" class="label label-info" title="The actions that can be performed on this collection are limited because it does not belong to you">Shared with me</span> ({{collection.document_count}} Documents)</span>
	                    </li>
	                </ul>
	            </div>
          	</div>
          	<div ui-layout-container class="main-content-wrapper">
          		<div class="main-content-header">Add new collection</div>
              	<div class="main-content-padded">
                    <form role="form" ng-submit="submitCollection()">
                      	<div class="form-group">
                        	<label for="collectionName">Collection Name</label>
                        	<input type="text" id="collectionName" class="form-control" placeholder="Please enter the name of the collection..." ng-model="collectionData.name" ng-required="true">
                      	</div>
                      	<div class="form-group">
                        	<label>Default Encoding</label>
                        	<select id="defaultEndoding" class="form-control" ng-options="encodingOption for encodingOption in encodingOptions" ng-model="collectionData.encoding" ng-change="encodingChange()"></select>
                      	</div>
                      	<div class="form-group">
                        	<label for="defaultHandler">Default Handler</label>
                        	<select id="defaultHandler" class="form-control" ng-options="handlerOption as handlerOption.name for handlerOption in handlerOptions" ng-model="collectionData.handler" ng-change="handlerChange()"></select>
                      	</div>
                      	<div class="form-group">
                        	<label>Files to be added to the Collection</label>
                        	<div class="table-responsive">
                          		<uploader flow-init></uploader><hr>
                          		<button type="submit" class="btn btn-primary right">Add Collection</button><br/><br/><br/>
                        	</div>
                      	</div>
                    </form>
              	</div>
          	</div>
        </div>
  	</div>
</div>
