<div class="overlapping-areas-widget">
    <div class="left">Overlapping Areas ({{overlaps.length}})&nbsp;:&nbsp;
        <select class="form-control right"
        [(ngModel)]="selectedOverlappingAnnotation"
        (change)="updateSelectedAnnotation(selectedOverlappingAnnotation)"
        ng-options="overlap as (overlap._id + \' : \' + overlap.spans[0].segment) for overlap in overlaps">
            <option value="">Please select overlapping area...</option>
            <!-- TODO: Update ngFor for overlaps -->
            <option *ngFor="let overlap of overlaps" [ngValue]="overlap" value="overlap">{{overlap._id + " : " + overlap.spans[0].segment}}</option>
        </select>
    </div>
</div>