<div autoheight scroll-subtraction-height="145">
  <div ui-layout>
    <div ui-layout-container size="300px">
      <div class="annotation-visualiser-header">
        <div class="col-md-4 right-divider">ID</div>
        <div class="col-md-4 right-divider">Type</div>
        <div class="col-md-4">Spans</div>
      </div>
      <div *ngIf="annotations.length==0" class="caution-msg">This document has not annotations</div>
      <div *ngIf="annotations.length>0">
        <div class="annotation-visualiser-content" *ngFor="let annotation of annotations; let i = index;"
          (click)="setSelectedAnnotation(annotation, i)" [ngClass]="{ active: i == selectedIndex }">
          <div class="col-md-4 right-divider overflow-ellipsis">{{annotation._id}}</div>
          <div class="col-md-4 right-divider overflow-ellipsis">{{annotation.type}}</div>
          <div class="col-md-4 overflow-ellipsis">{{annotation.spans[0].start}}:{{annotation.spans[0].end}}</div>
        </div>
      </div>
    </div>
    <div ui-layout-container>
      <div class="annotation-visualiser-header">
        <div class="col-md-3 right-divider">Name</div>
        <div class="col-md-9">Value</div>
      </div>
      <div *ngIf="!selectedAnnotation._id" class="caution-msg">No available details</div>
      <div *ngIf="selectedAnnotation._id">
        <div class="annotation-visualiser-content">
          <div class="col-md-3 right-divider overflow-ellipsis">ID</div>
          <div class="col-md-9 overflow-ellipsis">{{selectedAnnotation._id}}</div>
        </div>
        <div class="annotation-visualiser-content">
          <div class="col-md-3 right-divider overflow-ellipsis">Type</div>
          <div class="col-md-9 overflow-ellipsis">{{selectedAnnotation.type}}</div>
        </div>
        <div class="annotation-visualiser-content">
          <div class="col-md-3 right-divider overflow-ellipsis">Annotator ID</div>
          <div class="col-md-9 overflow-ellipsis">{{selectedAnnotation.annotator_id}}</div>
        </div>
        <div class="annotation-visualiser-content">
          <div class="col-md-3 right-divider overflow-ellipsis">Document Attribute</div>
          <div class="col-md-9 overflow-ellipsis">{{selectedAnnotation.document_attribute}}</div>
        </div>
        <div class="annotation-visualiser-content" *ngFor="let span of selectedAnnotation.spans; let i = index">
          <div class="col-md-3 right-divider overflow-ellipsis"><span *ngIf="i==1">Spans</span>&nbsp;</div>
          <div class="col-md-9 overflow-ellipsis" title="{{span.segment}}">{{span.start}}:{{span.end}}
            ["{{span.segment}}"]</div>
        </div>
        <div class="annotation-visualiser-content"
          *ngFor="let attribute of selectedAnnotation.attributes; let i = index">
          <div class="col-md-3 right-divider overflow-ellipsis"><span *ngIf="i==0">Attributes</span>&nbsp;</div>
          <div class="col-md-9 overflow-ellipsis">{{attribute.name}} &nbsp;-&nbsp; "{{attribute.value}}"</div>
        </div>
      </div>
    </div>
  </div>
</div>